@using Microsoft.AspNet.Identity
@using Bridge.Helpers
@if (Request.IsAuthenticated)
{
    <div class="list-group">
        @Html.MenuLink("Referral Center", "ReferralCenter", "Referral", null, new { @class = "list-group-item" }, "fa fa-heart fa-fw")
        @Html.MenuLink("Resume Center", "ResumeCenter", "Resume", null, new { @class = "list-group-item" }, "fa fa-file fa-fw")
        @Html.MenuLink("Cover Letter Center", "CoverLetterCenter", "CoverLetter", null, new { @class = "list-group-item" }, "fa fa-file-text fa-fw")
        @Html.MenuLink("Rewards", "Index", "CoverLetter1", null, new { @class = "list-group-item" }, "fa fa-usd fa-fw") 
        @Html.MenuLink("Settings", "Index", "CoverLetter2", null, new { @class = "list-group-item" }, "fa fa-cog fa-fw")
    </div>
}




