@model Bridge.ViewModels.SmallButtonViewModel
@using Bridge.ViewModels

<td>
    <div class="btn-group" role="group">
        @Html.Partial("_SmallButtonPartial",
               new SmallButtonViewModel
               {
                   Action = "Edit",
                   ButtonType = "btn-primary",
                   Glyph = "pencil",
                   Text = "Edit button",
                   ReferralId = Model.ReferralId,
                   ResumeId = Model.ResumeId,
                   CoverLetterId = Model.CoverLetterId
               })
        @Html.Partial("_SmallButtonPartial",
              new SmallButtonViewModel
              {
                  Action = "Details",
                  ButtonType = "btn-success",
                  Glyph = "list",
                  Text = "Detail button",
                  ReferralId = Model.ReferralId,
                  ResumeId = Model.ResumeId,
                  CoverLetterId = Model.CoverLetterId,
                  CandidateId = Model.CandidateId
              })

      @using (Html.BeginForm("Delete",null ,FormMethod.Post, new { @class = "delete-form css-inline" }))
      {
          @Html.AntiForgeryToken()
          @Html.HiddenFor(m=>m.ResumeId)
          @Html.HiddenFor(m => m.CoverLetterId)
        <button type="submit" class="btn btn-danger css-btn-style">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
      }
    </div>
</td>
