@model IEnumerable<Bridge.Models.Referral>
@using Bridge.ViewModels
    @using Bridge.Helpers
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><a href="@Url.Action("Create")" class="btn btn-primary btn-md pull-left">Refer Me </a></h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ReferralName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Resume.ResumeName)
                    </th>
                    <th>
                       STATUS
                    </th>
                    <th>OPTIONS</th>
                    <th></th>
                </tr>
            </thead>
            @if (Model.Count() == 0)
            {
                <tr><td colspan="5">No Referrals were found.</td></tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReferralName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Company.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Resume.ResumeName)
                            </td>
                            @*<td>
                                @if (string.IsNullOrEmpty(item.ReferrerId))
                                {
                                    <span class="label label-info">Pending</span>
                                }
                                else
                                {
                                    <span class="label label-success">Referred</span>
                                }
                            </td>*@
                            @Html.Partial("_TableButtonsPartial", new SmallButtonViewModel
                            {
                              ReferralId = item.ReferralId
                            })
                            <td></td>
                        </tr>
                    </tbody>
                }
            }
        </table>
    </div>
