@model IEnumerable<Bridge.Models.CoverLetter>

@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>*@

<p>
    @Html.ActionLink("Upload CoverLetter", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoverLetterName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.datetime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Details", "Resume", new { id = @item.Id})">@Html.DisplayFor(modelItem => item.CoverLetterName)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datetime)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
